<?xml version="1.0" encoding="utf-8"?>
<TimelineConfig>
  <HideDesignINotice>true</HideDesignINotice>
  <Enabled>true</Enabled>
  <OverlayVisible>true</OverlayVisible>
  <Left>3503</Left>
  <Top>522</Top>
  <Width>341</Width>
  <Height>242</Height>
  <NoticeLeft>2470</NoticeLeft>
  <IsTimelineLiveUpdate>false</IsTimelineLiveUpdate>
  <NotifyInterval>15</NotifyInterval>
  <ProgressBarRefreshInterval>50</ProgressBarRefreshInterval>
  <TimelineRefreshInterval>200</TimelineRefreshInterval>
  <PSyncDetectInterval>100</PSyncDetectInterval>
  <NotifyThreadPriority>Normal</NotifyThreadPriority>
  <TimelineThreadPriority>Normal</TimelineThreadPriority>
  <NoticeTop>556</NoticeTop>
  <NoticeWidth>186</NoticeWidth>
  <NoticeHeight>326</NoticeHeight>
  <IsMute>false</IsMute>
  <Clickthrough>true</Clickthrough>
  <OverlayOpacity>1</OverlayOpacity>
  <OverlayScale>0.42999999999999949</OverlayScale>
  <NearestActivityScale>1.9999999999999998</NearestActivityScale>
  <NextActivityBrightness>0.34999999999999964</NextActivityBrightness>
  <ShowActivitiesCount>5</ShowActivitiesCount>
  <ShowActivitiesTime>120</ShowActivitiesTime>
  <ShowProgressBarTime>15</ShowProgressBarTime>
  <IndicatorVisible>true</IndicatorVisible>
  <IndicatorStyle>Angel Seed用（HEADER）</IndicatorStyle>
  <ActivityMargin>3 8 3 5</ActivityMargin>
  <OverlayBackground>#50000000</OverlayBackground>
  <Styles>
    <Style>
      <Name>Angel Seed用（HEADER）</Name>
      <IsDefault>false</IsDefault>
      <IsDefaultNotice>false</IsDefaultNotice>
      <Font FontFamily="Meiryo" Size="25" Stretch="Normal" Style="Italic" Weight="Bold" />
      <Color>#FFFFFFFF</Color>
      <OutlineColor>#FFFF0000</OutlineColor>
      <BarColor>#FFFF0000</BarColor>
      <BarHeight>1</BarHeight>
      <IsCircleStyle>false</IsCircleStyle>
      <Icon />
      <IconSize>24</IconSize>
    </Style>
    <Style>
      <Name>Angel Seed用（本体）</Name>
      <IsDefault>true</IsDefault>
      <IsDefaultNotice>false</IsDefaultNotice>
      <Font FontFamily="Meiryo" Size="25" Stretch="Normal" Style="Italic" Weight="Bold" />
      <Color>#FFFFFFFF</Color>
      <OutlineColor>#FFFF0000</OutlineColor>
      <BarColor>#FFFF0000</BarColor>
      <BarHeight>0</BarHeight>
      <IsCircleStyle>false</IsCircleStyle>
      <Icon />
      <IconSize>55</IconSize>
    </Style>
    <Style>
      <Name>Angel Seed用（Notice）</Name>
      <IsDefault>false</IsDefault>
      <IsDefaultNotice>true</IsDefaultNotice>
      <Font FontFamily="Meiryo" Size="35" Stretch="Normal" Style="Italic" Weight="Bold" />
      <Color>#FFFFFFFF</Color>
      <OutlineColor>#FFFF0000</OutlineColor>
      <BarColor>#FF000000</BarColor>
      <BarHeight>0</BarHeight>
      <IsCircleStyle>false</IsCircleStyle>
      <Icon />
      <IconSize>65</IconSize>
    </Style>
  </Styles>
  <TimelineFiles>
    <File Key="D:\ACT\plugin\ACT.Hojoring-v7\resources\timeline\0.test.xml" Value="false" />
    <File Key="D:\ACT\plugin\ACT.Hojoring-v7\resources\timeline\10.The_Burn.xml" Value="false" />
    <File Key="D:\ACT\plugin\ACT.Hojoring-v7\resources\timeline\11.The_Forbidden_Land,_Eureka_Hydatos.xml" Value="false" />
    <File Key="D:\ACT\plugin\ACT.Hojoring-v7\resources\timeline\12.The_Ridorana_Lighthouse.xml" Value="false" />
    <File Key="D:\ACT\plugin\ACT.Hojoring-v7\resources\timeline\13.The_Great_Hunt_Extreme.xml" Value="false" />
    <File Key="D:\ACT\plugin\ACT.Hojoring-v7\resources\timeline\14.The_Minstrels_Ballad_Shinryus_Domain.xml" Value="false" />
    <File Key="D:\ACT\plugin\ACT.Hojoring-v7\resources\timeline\15.The_Jade_Stoa_Extreme.xml" Value="false" />
    <File Key="D:\ACT\plugin\ACT.Hojoring-v7\resources\timeline\16.Tsukuyomi_Extreme.xml" Value="false" />
    <File Key="D:\ACT\plugin\ACT.Hojoring-v7\resources\timeline\17.Hells_Kier_Extreme.xml" Value="false" />
    <File Key="D:\ACT\plugin\ACT.Hojoring-v7\resources\timeline\18.The_Wreath_Of_Snakes_Extreme.xml" Value="false" />
    <File Key="D:\ACT\plugin\ACT.Hojoring-v7\resources\timeline\19.The_Dancing_Plague_Extreme.xml" Value="true" />
    <File Key="D:\ACT\plugin\ACT.Hojoring-v7\resources\timeline\20.The_Crown_Of_The_Immaculate_Extreme.xml" Value="true" />
    <File Key="D:\ACT\plugin\ACT.Hojoring-v7\resources\timeline\Alphascape_Normal.xml" Value="false" />
    <File Key="D:\ACT\plugin\ACT.Hojoring-v7\resources\timeline\Alphascape_V1.0_Savage.xml" Value="false" />
    <File Key="D:\ACT\plugin\ACT.Hojoring-v7\resources\timeline\Alphascape_V2.0_Savage.xml" Value="false" />
    <File Key="D:\ACT\plugin\ACT.Hojoring-v7\resources\timeline\Alphascape_V3.0_Savage.xml" Value="false" />
    <File Key="D:\ACT\plugin\ACT.Hojoring-v7\resources\timeline\Alphascape_V4.0_Savage0.0v_with_Triggers.xml" Value="true" />
    <File Key="D:\ACT\plugin\ACT.Hojoring-v7\resources\timeline\Alphascape_V4.0_Savage1.0v.xml" Value="true" />
    <File Key="D:\ACT\plugin\ACT.Hojoring-v7\resources\timeline\Alphascape_V4.0_Savage2.0v.xml" Value="true" />
    <File Key="D:\ACT\plugin\ACT.Hojoring-v7\resources\timeline\Deltascape_V1.0_Savage.xml" Value="false" />
    <File Key="D:\ACT\plugin\ACT.Hojoring-v7\resources\timeline\Deltascape_V2.0_Savage.xml" Value="false" />
    <File Key="D:\ACT\plugin\ACT.Hojoring-v7\resources\timeline\Deltascape_V3.0_Savage.xml" Value="true" />
    <File Key="D:\ACT\plugin\ACT.Hojoring-v7\resources\timeline\Deltascape_V4.0_Savage.xml" Value="true" />
    <File Key="D:\ACT\plugin\ACT.Hojoring-v7\resources\timeline\Eden's_Gate_Normal_V1.0.xml" Value="true" />
    <File Key="D:\ACT\plugin\ACT.Hojoring-v7\resources\timeline\Eden's_Gate_Normal_V2.0.xml" Value="true" />
    <File Key="D:\ACT\plugin\ACT.Hojoring-v7\resources\timeline\Eden's_Gate_Normal_V3.0.xml" Value="true" />
    <File Key="D:\ACT\plugin\ACT.Hojoring-v7\resources\timeline\Eden's_Gate_Normal_V4.0.xml" Value="true" />
    <File Key="D:\ACT\plugin\ACT.Hojoring-v7\resources\timeline\Edens_Gate_Normal_Triggers.xml" Value="true" />
    <File Key="D:\ACT\plugin\ACT.Hojoring-v7\resources\timeline\Edens_Gate_Savage_Stage1.xml" Value="true" />
    <File Key="D:\ACT\plugin\ACT.Hojoring-v7\resources\timeline\Edens_Gate_Savage_Stage2.xml" Value="true" />
    <File Key="D:\ACT\plugin\ACT.Hojoring-v7\resources\timeline\Edens_Gate_Savage_Stage3.xml" Value="true" />
    <File Key="D:\ACT\plugin\ACT.Hojoring-v7\resources\timeline\Edens_Gate_Savage_Stage4.xml" Value="true" />
    <File Key="D:\ACT\plugin\ACT.Hojoring-v7\resources\timeline\EX.Kugane_Ohashi.xml" Value="true" />
    <File Key="D:\ACT\plugin\ACT.Hojoring-v7\resources\timeline\Global.cshtml" Value="true" />
    <File Key="D:\ACT\plugin\ACT.Hojoring-v7\resources\timeline\Reference.cshtml" Value="false" />
    <File Key="D:\ACT\plugin\ACT.Hojoring-v7\resources\timeline\Sigmascape_V1.0_Savage.xml" Value="false" />
    <File Key="D:\ACT\plugin\ACT.Hojoring-v7\resources\timeline\Sigmascape_V2.0_Savage.xml" Value="false" />
    <File Key="D:\ACT\plugin\ACT.Hojoring-v7\resources\timeline\Sigmascape_V3.0_Savage.xml" Value="false" />
    <File Key="D:\ACT\plugin\ACT.Hojoring-v7\resources\timeline\Sigmascape_V4.0_Savage.xml" Value="true" />
    <File Key="D:\ACT\plugin\ACT.Hojoring-v7\resources\timeline\The_Unending_Coil_Of_Bahamut_Ultimate0.0.xml" Value="false" />
    <File Key="D:\ACT\plugin\ACT.Hojoring-v7\resources\timeline\The_Weapons_Refrain_Ultimate0.x1_forRINGS.razor.xml" Value="true" />
    <File Key="D:\ACT\plugin\ACT.Hojoring-v7\resources\timeline\The_Weapons_Refrain_Ultimate0.x_forRINGS.razor.xml" Value="true" />
    <File Key="D:\ACT\plugin\ACT.Hojoring-v7\resources\timeline\絶アルテマ.1.The_Weapons_Refrain_Ultimate.xml" Value="false" />
    <File Key="D:\ACT\plugin\ACT.Hojoring-v7\resources\timeline\絶アルテマ.2.The_Weapons_Refrain_Ultimate0.x_forRINGS.razor.xml" Value="false" />
    <File Key="D:\ACT\plugin\ACT.Hojoring-v7\resources\timeline\絶アルテマ.3.The_Weapons_Refrain_Ultimate0.x1_forRINGS.razor.xml" Value="false" />
    <File Key="D:\ACT\plugin\ACT.Hojoring-v7\resources\timeline\絶バハムート.1.The_Unending_Coil_Of_Bahamut_Ultimate0.0.xml" Value="false" />
    <File Key="D:\ACT\plugin\ACT.Hojoring-v7\resources\timeline\絶バハムート.0.The_Unending_Coil_Of_Bahamut_Ultimate0.0.xml" Value="false" />
    <File Key="D:\ACT\plugin\ACT.Hojoring-v7\resources\timeline\Edens_Gate_Savage_Stage4.0.xml" Value="true" />
    <File Key="D:\ACT\plugin\ACT.Hojoring-v7\resources\timeline\Edens_Gate_Savage_Stage4.1.xml" Value="false" />
    <File Key="D:\ACT\plugin\ACT.Hojoring-v7\resources\timeline\絶バハムート.The_Unending_Coil_Of_Bahamut_Ultimate.xml" Value="true" />
    <File Key="D:\ACT\plugin\ACT.Hojoring-v7\resources\timeline\Edens_Gate_Savage_Stage4.2.xml" Value="false" />
    <File Key="D:\ACT\plugin\ACT.Hojoring-v7\resources\timeline\09.The Minstrel's Ballad Thordan's Reign.xml" Value="false" />
    <File Key="D:\ACT\plugin\ACT.Hojoring-v7\resources\timeline\Kigths_of_lounds.xml" Value="true" />
    <File Key="D:\ACT\plugin\ACT.Hojoring-v7\resources\timeline\09.0.The Minstrel's Ballad Thordan's Reign.xml" Value="false" />
    <File Key="D:\ACT\plugin\ACT.Hojoring-v7\resources\timeline\09.1.The Minstrel's Ballad Thordan's Reign.xml" Value="false" />
    <File Key="D:\ACT\plugin\ACT.Hojoring-v7\resources\timeline\field_ShB_Mobhunt.xml" Value="true" />
    <File Key="D:\ACT\plugin\ACT.Hojoring-v7\resources\timeline\Alexander_Season1-3_ver1_Savage.xml" Value="true" />
    <File Key="D:\ACT\plugin\ACT.Hojoring-v7\resources\timeline\Alexander_Season1-3_ver2_Savage.xml" Value="true" />
    <File Key="D:\ACT\plugin\ACT.Hojoring-v7\resources\timeline\Alexander_Season1-3_Savage.xml" Value="false" />
    <File Key="D:\ACT\plugin\ACT.Hojoring-v7\resources\timeline\The_Minstrels_Ballad_Hadess_Elegy.xml" Value="true" />
    <File Key="D:\ACT\plugin\ACT.Hojoring-v7\resources\timeline\21.The_Minstrels_Ballad_Hadess_Elegy.xml" Value="true" />
    <File Key="D:\ACT\plugin\ACT.Hojoring-v7\resources\timeline\21.The_Minstrels_Ballad_Hadess_Elegy_Trigger.xml" Value="true" />
    <File Key="D:\ACT\plugin\ACT.Hojoring-v7\resources\timeline\20.EX.Kugane_Ohashi.xml" Value="false" />
    <File Key="D:\ACT\plugin\ACT.Hojoring-v7\resources\timeline\21.The_Crown_Of_The_Immaculate_Extreme.xml" Value="true" />
    <File Key="D:\ACT\plugin\ACT.Hojoring-v7\resources\timeline\22.The_Minstrels_Ballad_Hadess_Elegy.xml" Value="true" />
    <File Key="D:\ACT\plugin\ACT.Hojoring-v7\resources\timeline\22.The_Minstrels_Ballad_Hadess_Elegy_Trigger.xml" Value="true" />
    <File Key="D:\ACT\plugin\ACT.Hojoring-v7\resources\timeline\The_Alexander_forUltimateRINGS.xml" Value="true" />
    <File Key="D:\ACT\plugin\ACT.Hojoring-v7\resources\timeline\The_Alexander_Refrain_Ultimate_forUltimateRINGS.xml" Value="true" />
    <File Key="D:\ACT\plugin\ACT.Hojoring-v7\resources\timeline\The_Epic_Of_Alexander_Ultimate.xml" Value="true" />
    <File Key="D:\ACT\plugin\ACT.Hojoring-v7\resources\timeline\The_Epic_Of_Alexander_Ultimate_forUltimateRINGS.xml" Value="false" />
    <File Key="D:\ACT\plugin\ACT.Hojoring-v7\resources\timeline\The_Epic_Of_Alexander_(Ultimate).v1.xml" Value="false" />
    <File Key="D:\ACT\plugin\ACT.Hojoring-v7\resources\timeline\The_Epic_Of_Alexander_(Ultimate).v2.xml" Value="false" />
    <File Key="D:\ACT\plugin\ACT.Hojoring-v7\resources\timeline\Agata Akamine用The_Epic_Of_Alexander_Ultimate.xml.xml" Value="true" />
    <File Key="D:\ACT\plugin\ACT.Hojoring-v7\resources\timeline\The_Epic_Of_Alexander_(Ultimate).v0.RINGS.xml" Value="false" />
    <File Key="D:\ACT\plugin\ACT.Hojoring-v7\resources\timeline\The_Epic_Of_Alexander_(Ultimate).v0.xml" Value="true" />
    <File Key="D:\ACT\plugin\ACT.Hojoring-v7\resources\timeline\ult_Alexander_forUltimate_TEST.xml" Value="true" />
    <File Key="D:\ACT\plugin\ACT.Hojoring-v7\resources\timeline\FateCalibration_TimelineTrigger.xml" Value="false" />
    <File Key="D:\ACT\plugin\ACT.Hojoring-v7\resources\timeline\Alisa・Editio.The_Epic_Of_Alexander_(Ultimate).xml" Value="false" />
    <File Key="D:\ACT\plugin\ACT.Hojoring-v7\resources\timeline\Global.xml" Value="true" />
    <File Key="D:\ACT\plugin\ACT.Hojoring-v7\resources\timeline\23,Cinder_Drift_Extreme.xml" Value="true" />
    <File Key="D:\ACT\plugin\ACT.Hojoring-v7\resources\timeline\Edens_Verse_Furor_Savage2.xml" Value="true" />
    <File Key="D:\ACT\plugin\ACT.Hojoring-v7\resources\timeline\Edens_Verse_Furor_Savage4.xml" Value="true" />
    <File Key="D:\ACT\plugin\ACT.Hojoring-v7\resources\timeline\Edens_Verse_Furor_Savage1.xml" Value="true" />
    <File Key="D:\ACT\plugin\ACT.Hojoring-v7\resources\timeline\Edens_Verse_Furor_Savage4・1.xml" Value="false" />
    <File Key="D:\ACT\plugin\ACT.Hojoring-v7\resources\timeline\Edens_Verse_Furor_Savage3.xml" Value="true" />
    <File Key="D:\ACT\plugin\ACT.Hojoring-v7\resources\timeline\ult_Alexander_forUltimateRINGS.xml" Value="true" />
    <File Key="D:\ACT\plugin\ACT.Hojoring-v7\resources\timeline\Edens_Verse_Furor_Savage4.0(侍・仕様).xml" Value="true" />
    <File Key="D:\ACT\plugin\ACT.Hojoring-v7\resources\timeline\Edens_Verse_Furor_Savage4.1(竜騎士・仕様).xml" Value="false" />
    <File Key="D:\ACT\plugin\ACT.Hojoring-v7\resources\timeline\Edens_Verse_Furor_Savage4.2(モンク・仕様).xml" Value="false" />
    <File Key="D:\ACT\plugin\ACT.Hojoring-v7\resources\timeline\24.Memoria_Misera_Extremetest0.xml" Value="true" />
    <File Key="D:\ACT\plugin\ACT.Hojoring-v7\resources\timeline\23.Cinder_Drift_Extreme.xml" Value="true" />
    <File Key="D:\ACT\plugin\ACT.Hojoring-v7\resources\timeline\24.Memoria_Misera_Extreme.xml" Value="true" />
    <File Key="D:\ACT\plugin\ACT.Hojoring-v7\resources\timeline\The_Epic_Of_Alexander_(Ultimate).v0.0.β版.xml" Value="true" />
    <File Key="D:\ACT\plugin\ACT.Hojoring-v7\resources\timeline\ult_VS_Alexander.xml" Value="false" />
    <File Key="D:\ACT\plugin\ACT.Hojoring-v7\resources\timeline\25.The_Seat_Of_Sacrifice_Extreme.xml" Value="true" />
    <File Key="D:\ACT\plugin\ACT.Hojoring-v7\resources\timeline\v.1.25.The_Seat_Of_Sacrifice_Extreme.xml" Value="true" />
    <File Key="D:\ACT\plugin\ACT.Hojoring-v7\resources\timeline\The_Akh_Afah_Amphitheatre_Unreal.xml" Value="true" />
    <File Key="D:\ACT\plugin\ACT.Hojoring-v7\resources\timeline\raid24_YoRHa_The_Puppets_Bunker.xml" Value="true" />
    <File Key="D:\ACT\plugin\ACT.Hojoring-v7\resources\timeline\テスト.xml" Value="false" />
    <File Key="D:\ACT\plugin\ACT.Hojoring-v7\resources\timeline\The_Epic_Of_Alexander_(Ultimate).v0.0.完全版.xml" Value="true" />
    <File Key="D:\ACT\plugin\ACT.Hojoring-v7\resources\timeline\1.絶バハムート.The_Unending_Coil_Of_Bahamut_Ultimate.xml" Value="true" />
    <File Key="D:\ACT\plugin\ACT.Hojoring-v7\resources\timeline\2.絶アルテマウェポン.The_Weapons_Refrain_Ultimate0.x_forRINGS.razor.xml" Value="true" />
    <File Key="D:\ACT\plugin\ACT.Hojoring-v7\resources\timeline\3.絶アレキサンダー.The_Epic_Of_Alexander_(Ultimate).v0.0.完全版.xml" Value="true" />
    <File Key="D:\ACT\plugin\ACT.Hojoring-v7\resources\timeline\1.絶バハムート.The_Unending_Coil_Of_Bahamut_(Ultimate)forRINGS.(完全版).xml" Value="true" />
    <File Key="D:\ACT\plugin\ACT.Hojoring-v7\resources\timeline\2.絶アルテマウェポン.The_Weapons_Refrain_(Ultimate)forRINGS.(完全版).xml" Value="true" />
    <File Key="D:\ACT\plugin\ACT.Hojoring-v7\resources\timeline\3.絶アレキサンダー.The_Epic_Of_Alexander_(Ultimate)forRINGS.(完全版).xml" Value="true" />
    <File Key="D:\ACT\plugin\ACT.Hojoring-v7\resources\timeline\01.絶バハムート.The_Unending_Coil_Of_Bahamut_(Ultimate)forRINGS.(完全版).xml" Value="true" />
    <File Key="D:\ACT\plugin\ACT.Hojoring-v7\resources\timeline\02.絶アルテマウェポン.The_Weapons_Refrain_(Ultimate)forRINGS.(完全版).xml" Value="true" />
    <File Key="D:\ACT\plugin\ACT.Hojoring-v7\resources\timeline\03.絶アレキサンダー.The_Epic_Of_Alexander_(Ultimate)forRINGS.(完全版).xml" Value="true" />
    <File Key="D:\ACT\plugin\ACT.Hojoring-v7\resources\timeline\00.絶バハムート.The_Unending_Coil_Of_Bahamut_(Ultimate)forRINGS.(完全版).xml" Value="false" />
    <File Key="D:\ACT\plugin\ACT.Hojoring-v7\resources\timeline\01.絶バハムート.The_Unending_Coil_Of_Bahamut_(Ultimate)forRINGS.(完全版).compiled.xml" Value="true" />
    <File Key="D:\ACT\plugin\ACT.Hojoring-v7\resources\timeline\テスト絶バハムート.xml" Value="true" />
    <File Key="D:\ACT\plugin\ACT.Hojoring-v7\resources\timeline\02.絶アルテマウェポン.The_Weapons_Refrain_(Ultimate)forRINGS.(最終TL＆トリガー完全版).xml" Value="true" />
    <File Key="D:\ACT\plugin\ACT.Hojoring-v7\resources\timeline\03.絶アレキサンダー.The_Epic_Of_Alexander_(Ultimate)forRINGS.(最終TL＆トリガー完全版).xml" Value="true" />
    <File Key="D:\ACT\plugin\ACT.Hojoring-v7\resources\timeline\EX.絶アルテマウェポン.The_Weapons_Refrain_(Ultimate)forRINGS.(EX完全版).xml" Value="true" />
    <File Key="D:\ACT\plugin\ACT.Hojoring-v7\resources\timeline\EX.絶アルテマウェポン.The_Weapons_Refrain_(Ultimate)forRINGS.(EX完全版).compiled.xml" Value="true" />
    <File Key="D:\ACT\plugin\ACT.Hojoring-v7\resources\timeline\02.絶アルテマウェポン.The_Weapons_Refrain_(Ultimate)forRINGS.(EX完全版).xml" Value="true" />
    <File Key="D:\ACT\plugin\ACT.Hojoring-v7\resources\timeline\ult_VS_UltimateWeapon.xml" Value="true" />
    <File Key="D:\ACT\plugin\ACT.Hojoring-v7\resources\timeline\02.絶アルテマウェポン.The_Weapons_Refrain_(Ultimate)forRINGS.(最終完全版).xml" Value="false" />
    <File Key="D:\ACT\plugin\ACT.Hojoring-v7\resources\timeline\03.絶アレキサンダー.The_Epic_Of_Alexander_(Ultimate)forRINGS.(最終完全版).xml" Value="true" />
    <File Key="D:\ACT\plugin\ACT.Hojoring-v7\resources\timeline\02.朝固定用・絶アルテマウェポン.The_Weapons_Refrain_(Ultimate)forRINGS.(最終完全版).xml" Value="true" />
  </TimelineFiles>
</TimelineConfig>
